<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.react.board.repository.KboardRepository">

	<select id="list" resultType="java.util.HashMap">
		SELECT ROWNUM
			   ,A.NUM
			   ,A.TITLE 
			   ,A.WRITER
			   ,A.CONTENT
			   ,A.REG_DT
			   ,A.PASSWD
		FROM(SELECT NUM 
			  ,TITLE
			  ,WRITER
			  ,CONTENT
			  ,TO_CHAR(NVL(REG_DT,SYSDATE),'YYYY-MM-DD HH24:MI:SS') AS REG_DT
			  ,PASSWD
			  FROM K_BOARD) A
	</select>

</mapper>