<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.react.board.repository.LBoardRepository">

	<select id="lboardList" resultType="camelMap">
		SELECT ROWNUM RN
			 , A.NUM
			 , A.WRITER
			 , A.TITLE
			 , A.CONTENT
			 , A.REG_DT
			 , A.PASSWD
		FROM 
			(SELECT NUM	
				  , WRITER
				  , TITLE
				  , CONTENT
				  , TO_CHAR(NVL(REG_DT, SYSDATE), 'YYYY-MM-DD HH24:MI:SS') AS REG_DT
				  , PASSWD
			 FROM L_BOARD LB
			 ORDER BY REG_DT DESC
			) A
		WHERE 1 = 1
	</select>

</mapper>